/* Header.css */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  color: black; /* Cor do texto no cabeçalho no tema escuro */
}

.dark-mode {
  background-color: #333; /* Cor de fundo do cabeçalho no tema escuro */
}

.header-left {
  display: flex;
  align-items: center;
}

.app-name {
  margin-left: 10px;
  font-size: 1.5rem;
}

.dark-text {
  color: white; /* Cor do texto no tema escuro */
}

.header-right {
  display: flex;
}

.hamburger-icon {
  font-size: 1rem;
  cursor: pointer;
  margin-right: 20px; /* Ajuste conforme necessário */
  margin-left: 10px; /* Ajuste conforme necessário */
}