.filter-button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    background: #007bff; /* cor de fundo azul */
    color: #fff; /* cor do texto branca */
    border: none;
    border-radius: 5px;
    transition: background 0.3s ease;
  
    &:hover {
      background: #0056b3; /* cor de fundo azul mais escura ao passar o mouse */
    }
  }