.forgot-password {
  margin-top: 1rem;
  font-size: 10pt;

  & span {
    color: blueviolet;
    cursor: pointer;
  }
}

.no-has-account {
  padding: 1rem;
  font-size: 10pt;
  color: #797979;

  & span {
    color: blueviolet;
    cursor: pointer;
  }
  
}