#root {
  margin: 0 auto;
  text-align: center;
}

html {
  font-size: 90%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  position: relative;
  /* width: 95vw;
  height: 95vh;
  border-radius: 1rem; */
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: rgb(235, 235, 235);
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.inputs {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.input {
  display: flex;
  align-items: center;
  width: 70%;
  height: 50px;
  background-color: #eaeaea;
  border-radius: 5px;

  & svg {
    font-size: 1.5em;
    padding: 1rem;
  }

  & input {
    height: 80%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    /* font-size: 12pt; */
  }
}

.submit-container {
  display: flex;
  margin: 1rem;
  box-sizing: border-box;
  justify-content: center;
  
  & span {
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    /* background-color: #123142; */
    color: black;
    height: 80%;
  }
}

h1, h2 {
  font-weight: 100;
  display: flex;
}